Repository abatilo/multi-storage-client: changes, and which GitLab CI jobs are due for each by the changed paths.
All: multi-storage-client, multi-storage-client-docs

multi-storage-client:
  stage: ðŸ’¿
  parallel:
    matrix:
    - PYTHON_BINARY:
      - python3.9
      - python3.10
      - python3.11
      - python3.12
      - python3.13
  script:
  ...

multi-storage-client-docs:
  stage: ðŸ’¿
  script:
  - "nix develop --command bash -c \"\n  cd multi-storage-client-docs &&\n  just build\n\"\n"
  artifacts:
    paths:
    - multi-storage-client-docs/dist/
    reports:
      codequality: multi-storage-client-docs/.reports/ruff.json

feat: MSFS: Added Garage S3 to MSFS dev stack
  multi-storage-file-system/Dockerfile
  multi-storage-file-system/README.md
  multi-storage-file-system/dev_setup.sh
  multi-storage-file-system/docker-compose.yaml
  multi-storage-file-system/garage.s3cfg
  multi-storage-file-system/garage.sh
  multi-storage-file-system/garage.toml
  multi-storage-file-system/msfs_config_dev.json
  multi-storage-file-system/msfs_config_dev.yaml
Due: none

chore: display custom metadata
  multi-storage-explorer/src/__tests__/components/FilePreview.test.jsx
  multi-storage-explorer/src/components/FilePreview.jsx
Due: multi-storage-client

fix: MSFS: lint and typo corrections
  multi-storage-file-system/backend_aistore.go
  multi-storage-file-system/dev_setup.sh
Due: none

fix: raise ValueError when base_path is empty in list_objects
  multi-storage-client/src/multistorageclient/explorer/api/server.py
  multi-storage-client/src/multistorageclient/providers/base.py
  multi-storage-client/tests/test_multistorageclient/unit/providers/test_base_storage_provider.py
Due: multi-storage-client, multi-storage-client-docs

fix: resolve sync worker performance regression with bounded backpressure
  multi-storage-client/src/multistorageclient/sync/worker.py
Due: multi-storage-client, multi-storage-client-docs

feat: Implement Vault provider for mTLS certificates
  multi-storage-client/pyproject.toml
  multi-storage-client/src/multistorageclient/instrumentation/auth.py
  multi-storage-client/src/multistorageclient/telemetry/__init__.py
  multi-storage-client/src/multistorageclient/telemetry/metrics/exporters/otlp_mtls_vault.py
  multi-storage-client/tests/test_multistorageclient/unit/instrumentation/test_vault_certificate_provider.py
  multi-storage-client/tests/test_multistorageclient/unit/telemetry/metrics/exporters/__init__.py
  multi-storage-client/tests/test_multistorageclient/unit/telemetry/metrics/exporters/test_otlp_mtls.py
  multi-storage-client/tests/test_multistorageclient/unit/telemetry/metrics/exporters/test_otlp_mtls_vault.py
  uv.lock
Due: multi-storage-client, multi-storage-client-docs

fix: remove extra slash from list page
  multi-storage-explorer/src/components/FileManager.jsx
  multi-storage-explorer/src/components/FilePreview.jsx
  multi-storage-explorer/src/main.jsx
  multi-storage-explorer/src/services/api.js
Due: multi-storage-client

fix: Avoid HEAD requests when check_source_version
  multi-storage-client/src/multistorageclient/client/single.py
  multi-storage-client/src/multistorageclient/file.py
  multi-storage-client/tests/test_multistorageclient/unit/test_cache.py
Due: multi-storage-client, multi-storage-client-docs

docs: update documentation for mtls
  multi-storage-client-docs/src/references/configuration.rst
  multi-storage-client-docs/src/user_guide/telemetry.rst
Due: multi-storage-client-docs

feat: release 0.42.0
  .release_notes/.unreleased.md
  .release_notes/0.42.0.md
  multi-storage-client/pyproject.toml
  uv.lock
Due: multi-storage-client, multi-storage-client-docs

feat: forward s3 config dict to botocore.config.Config
  multi-storage-client/src/multistorageclient/providers/s3.py
  multi-storage-client/tests/test_multistorageclient/unit/test_config.py
Due: multi-storage-client, multi-storage-client-docs

Path conditions:
  multi-storage-client: any of: flake.lock, flake.nix, pyproject.toml, uv.lock, multi-storage-client/**/*, multi-storage-explorer/**/*
  multi-storage-client-docs: any of: flake.lock, flake.nix, pyproject.toml, uv.lock, multi-storage-client/**/*, multi-storage-client-docs/**/*
